@model mvc1.Models.Stadium

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">

    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>

    <tr>
        <td><b>Name</b></td>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <td><b>City</b></td>
        <td>@Model.City</td>
    </tr>

</table>

<div class="form-group" role="group">
    @Html.ActionLink("Back to list", "List", null, new { @class = "btn btn-default", @role = "button" })
    @Html.ActionLink("Edit staidum", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", @role = "button" })
</div>
