@model mvc1.Models.Stadium

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Name">Name:</label>
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })

        <label for="City">City:</label>
        @Html.TextBoxFor(t => t.City, new { @class = "form-control" })

        @Html.HiddenFor(t => t.Id)
    </div>

    <div class="form-group" role="group">
        @Html.ActionLink("Back to list", "List", null, new { @class = "btn btn-default" })
        <button class="btn btn-primary" type="submit">Save data</button>
    </div>
}