
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Stadiums", "Index", "Staidum")</li>
    <li>@Html.ActionLink("Teams", "Index", "Team")</li>
    <li>@Html.ActionLink("Players", "Index", "Player")</li>
    <li>@Html.ActionLink("Games", "Index", "Game")</li>

</ul>

